@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

body {
    font-family: 'Merienda One', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #204051;
    color: #f5f5f5;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}
