@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

body {
    font-family: 'Merienda One', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #204051;
    color: #f5f5f5;
}

html,
body {
    height: 100%;
}

body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}


/* 
    HEADER SECTION
*/

.flex-header {
    display: flex;
    justify-content: center;

    margin-top: 0;
}

.project-title {
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 3.5rem;
    font-weight: lighter;
}

/* 
    Player Detials Section
*/

.main-section {
    margin-top: 1em;
}

.wrapper {
    width: 70vw;
    max-width: 100%;

    margin: 0 auto;
}

.player-section {
    display: flex;
    justify-content: space-between;
}

.player-section div {
    margin-top: 0;
}

.player-section input {
    margin-top: 0;
}

.player-section p {
    margin-bottom: .5em;
    text-align: center;
}

.versus {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.5rem;
}

/* 
    GAME START/RESTART BUTTON SECTION
*/

.start-restart-section {
    display: flex;
    justify-content: center;
}

.start-restart-section .btn {
    margin-top: 0;
}

.btn {
    display: inline-block;
    
    padding: .625em 1.25em;
    border-radius: .25em;

    background-color: #e8505b;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:hover {
    background-color: #e8505ade;

    cursor: pointer;
}

.btn:active {
    transform: scale(.8);
}

/* 
    GAMEBOARD SECTION
*/

.gameboard-container {
    display: flex;
    justify-content: center;

    margin-top: 2em;
}

.gameboard {
    display: grid;

    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 120px);
}

.gameboard .cell {
    margin-top: 0;

    font-size: 5rem;
    font-weight: 100;

    border-right: 2px solid;
    border-bottom: 2px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cell-3,
#cell-6,
#cell-9{
    border-right: none;
}

#cell-7,
#cell-8,
#cell-9 {
    border-bottom: none;
}

.hidden {
    display: none;
}